<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arimsky.blogapi.dao.ArticleBodyMapper">

    <resultMap id="BaseResultMap" type="com.arimsky.blogapi.pojo.entity.ArticleBody">
        <!--@Table blog_article_body-->
        <result property="bodyId" column="body_id" jdbcType="INTEGER"/>
        <result property="content" column="content" jdbcType="OTHER"/>
        <result property="contentHtml" column="content_html" jdbcType="OTHER"/>
        <result property="articleId" column="article_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select
          body_id, content, content_html, article_id
        from msblogapp.blog_article_body
        where body_id = #{bodyId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
          body_id, content, content_html, article_id
        from msblogapp.blog_article_body
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
          body_id, content, content_html, article_id
        from msblogapp.blog_article_body
        <where>
            <if test="bodyId != null">
                and body_id = #{bodyId}
            </if>
            <if test="content != null">
                and content = #{content}
            </if>
            <if test="contentHtml != null">
                and content_html = #{contentHtml}
            </if>
            <if test="articleId != null">
                and article_id = #{articleId}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="bodyId" useGeneratedKeys="true">
        insert into msblogapp.blog_article_body(content, content_html, article_id)
        values (#{content}, #{contentHtml}, #{articleId})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update msblogapp.blog_article_body
        <set>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="contentHtml != null">
                content_html = #{contentHtml},
            </if>
            <if test="articleId != null">
                article_id = #{articleId},
            </if>
        </set>
        where body_id = #{bodyId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from msblogapp.blog_article_body where body_id = #{bodyId}
    </delete>

</mapper>