<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arimsky.blogapi.dao.CommentMapper">

    <resultMap id="BaseResultMap" type="com.arimsky.blogapi.pojo.entity.Comment">
        <!--@Table blog_comment-->
        <result property="commentId" column="comment_id" jdbcType="INTEGER"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="INTEGER"/>
        <result property="articleId" column="article_id" jdbcType="INTEGER"/>
        <result property="authorId" column="author_id" jdbcType="INTEGER"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="toUid" column="to_uid" jdbcType="INTEGER"/>
        <result property="level" column="level" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select
          comment_id, content, create_date, article_id, author_id, parent_id, to_uid, level
        from msblogapp.blog_comment
        where comment_id = #{commentId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
          comment_id, content, create_date, article_id, author_id, parent_id, to_uid, level
        from msblogapp.blog_comment
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
          comment_id, content, create_date, article_id, author_id, parent_id, to_uid, level
        from msblogapp.blog_comment
        <where>
            <if test="commentId != null">
                and comment_id = #{commentId}
            </if>
            <if test="content != null and content != ''">
                and content = #{content}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
            <if test="articleId != null">
                and article_id = #{articleId}
            </if>
            <if test="authorId != null">
                and author_id = #{authorId}
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
            <if test="toUid != null">
                and to_uid = #{toUid}
            </if>
            <if test="level != null and level != ''">
                and level = #{level}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="commentId" useGeneratedKeys="true">
        insert into msblogapp.blog_comment(content, create_date, article_id, author_id, parent_id, to_uid, level)
        values (#{content}, #{createDate}, #{articleId}, #{authorId}, #{parentId}, #{toUid}, #{level})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update msblogapp.blog_comment
        <set>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="articleId != null">
                article_id = #{articleId},
            </if>
            <if test="authorId != null">
                author_id = #{authorId},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="toUid != null">
                to_uid = #{toUid},
            </if>
            <if test="level != null and level != ''">
                level = #{level},
            </if>
        </set>
        where comment_id = #{commentId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from msblogapp.blog_comment where comment_id = #{commentId}
    </delete>

</mapper>