<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arimsky.blogapi.dao.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.arimsky.blogapi.pojo.entity.SysUser">
        <!--@Table blog_sys_user-->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="account" column="account" jdbcType="VARCHAR"/>
        <result property="admin" column="admin" jdbcType="OTHER"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="OTHER"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="lastLogin" column="last_login" jdbcType="INTEGER"/>
        <result property="mobilePhoneNumber" column="mobile_phone_number" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="salt" column="salt" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select
          id, account, admin, avatar, create_date, deleted, email, last_login, mobile_phone_number, nickname, password, salt, status
        from blog_sys_user
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
          id, account, admin, avatar, create_date, deleted, email, last_login, mobile_phone_number, nickname, password, salt, status
        from msblogapp.blog_sys_user
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
          id, account, admin, avatar, create_date, deleted, email, last_login, mobile_phone_number, nickname, password, salt, status
        from msblogapp.blog_sys_user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="account != null and account != ''">
                and account = #{account}
            </if>
            <if test="admin != null">
                and admin = #{admin}
            </if>
            <if test="avatar != null and avatar != ''">
                and avatar = #{avatar}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
            <if test="deleted != null">
                and deleted = #{deleted}
            </if>
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <if test="lastLogin != null">
                and last_login = #{lastLogin}
            </if>
            <if test="mobilePhoneNumber != null and mobilePhoneNumber != ''">
                and mobile_phone_number = #{mobilePhoneNumber}
            </if>
            <if test="nickname != null and nickname != ''">
                and nickname = #{nickname}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="salt != null and salt != ''">
                and salt = #{salt}
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into msblogapp.blog_sys_user(account, admin, avatar, create_date, deleted, email, last_login, mobile_phone_number, nickname, password, salt, status)
        values (#{account}, #{admin}, #{avatar}, #{createDate}, #{deleted}, #{email}, #{lastLogin}, #{mobilePhoneNumber}, #{nickname}, #{password}, #{salt}, #{status})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update msblogapp.blog_sys_user
        <set>
            <if test="account != null and account != ''">
                account = #{account},
            </if>
            <if test="admin != null">
                admin = #{admin},
            </if>
            <if test="avatar != null and avatar != ''">
                avatar = #{avatar},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="lastLogin != null">
                last_login = #{lastLogin},
            </if>
            <if test="mobilePhoneNumber != null and mobilePhoneNumber != ''">
                mobile_phone_number = #{mobilePhoneNumber},
            </if>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="salt != null and salt != ''">
                salt = #{salt},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from msblogapp.blog_sys_user where id = #{id}
    </delete>

</mapper>