<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arimsky.blogapi.dao.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.arimsky.blogapi.pojo.entity.SysUser">
        <!--@Table blog_sys_user-->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="account" column="account" jdbcType="VARCHAR"/>
        <result property="admin" column="admin" jdbcType="OTHER"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="INTEGER"/>
        <result property="deleted" column="deleted" jdbcType="OTHER"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="lastLogin" column="last_login" jdbcType="INTEGER"/>
        <result property="mobilePhoneNumber" column="mobile_phone_number" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="salt" column="salt" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
    </resultMap>

</mapper>